/* Swipe works with mouse as well but often causes text selection. */
		#demo-page * {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		/* Arrow only buttons in the header. */
		#demo-page .ui-header .ui-btn {
			background: none;
			border: none;
			top: 9px;
		}
		#demo-page .ui-header .ui-btn-inner {
			border: none;
		}
/* Menu content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em;	margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }
.btn-menu{
	height:20px;
}
.prof-img{
	width: 100px;
	height:100px;
	text-align:center;
	border-radius:100px;
}

#map {
    width: 100%;
    height: 470px;
}
.song-img{
	width:40px;
	height:40px;
}
.stats_icon{
	width:20px;
	height:20px;
}
.w100pc{
	width:100%;
}
#myChart{
	width:100%;
	height:400px;
}
